#con1 {
  transform: rotate(-4deg);
  position: relative;
  border: 0px;
  border-radius: 80px;
  background: linear-gradient(to right, gray, black);
}
.con2 {
  /* background-color: black; */
  position: relative;
  height: 300px;
  width: 400px;
}
.con2 .img {
  position: absolute;
  max-height: 100%;
  max-width: 100%;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -55%);
}
.con3 {
  /* background-color: black; */
  position: relative;
  width: 300px;
  height: 300px;
}
.con3 .img {
  position: absolute;
  max-height: 100%;
  max-width: 100%;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -70%);
}
.col4 {
  height: 550px;
  /* width: 500px; */
}
.col4 .imgcol {
  height: 100%;
  width: 100%;
}
